/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }
q:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #2c2d31;
  color: white;
  font-family: Helvetica, Arial, sans-serif; }

#menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 170px;
  border-right: 1px solid black;
  background-image: url(/images/hibreed/backgrounds/menu.png);
  background-repeat: repeat-y;
  background-color: #3d3f47;
  padding-top: 62px; }
  #menu-wrapper #logo {
    position: absolute;
    top: 0px; }

#content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 171px;
  border-left: 1px solid #62646a; }

#content {
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -moz-box-shadow: 0px 0px 10px #131416;
  -webkit-box-shadow: 0px 0px 10px #131416;
  box-shadow: 0px 0px 10px #131416; }

#top-menu {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  top: 11px;
  left: 10px;
  right: 10px;
  height: 29px;
  background-image: url(/images/hibreed/backgrounds/top_menu.png);
  background-repeat: repeat-x; }

#copyright {
  position: absolute;
  bottom: 1px;
  left: 0px;
  right: 0px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #141417;
  text-align: center;
  text-shadow: 0px 1px #777a88; }

ul#main_menu {
  border-bottom: 3px solid #33353c; }
  ul#main_menu li.button {
    background-image: url(/images/hibreed/backgrounds/left_menu/group.png);
    background-repeat: repeat-x;
    border-top: 1px solid #1f2024;
    border-bottom: 1px solid #585f64;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px; }
    ul#main_menu li.button:hover {
      background-image: url(/images/hibreed/backgrounds/left_menu/group_hover.png); }
    ul#main_menu li.button.active {
      background-image: url(/images/hibreed/backgrounds/left_menu/group_active.png); }
      ul#main_menu li.button.active ul {
        display: block; }
    ul#main_menu li.button.mousedown {
      background-image: url(/images/hibreed/backgrounds/left_menu/group_mousedown.png); }
    ul#main_menu li.button ul {
      display: none;
      font-size: 12px; }
      ul#main_menu li.button ul li {
        background-color: #36383f;
        background-image: url(/images/hibreed/backgrounds/left_menu/link_shadow.png);
        border-bottom: 1px solid #4c4e53; }
        ul#main_menu li.button ul li a {
          color: #cacdd8;
          line-height: 16px;
          padding: 5px 10px 3px 38px; }
          ul#main_menu li.button ul li a:hover {
            color: #e1e4f1; }
        ul#main_menu li.button ul li:hover {
          background-color: #32343b; }
        ul#main_menu li.button ul li:first-child {
          border-top: 1px solid #585f64;
          background-image: url(/images/hibreed/backgrounds/left_menu/link_shadow_top.png); }
        ul#main_menu li.button ul li:last-child {
          border-bottom: none;
          background-image: url(/images/hibreed/backgrounds/left_menu/link_shadow_bottom.png);
          background-position: bottom; }
        ul#main_menu li.button ul li.active {
          color: #31333b;
          background-color: #babbbd;
          background-image: url(/images/hibreed/backgrounds/left_menu/link_active.png);
          background-position: bottom;
          background-repeat: repeat-x;
          font-size: 13px;
          border-bottom: 1px solid #babbbb; }
          ul#main_menu li.button ul li.active a {
            color: #31333b;
            text-shadow: 0px 1px white; }
          ul#main_menu li.button ul li.active:last-child {
            border-bottom: none; }
    ul#main_menu li.button a {
      background-repeat: no-repeat;
      background-position: 14px 5px;
      color: white;
      display: block;
      min-height: 20px;
      padding: 3px 10px 3px 38px;
      text-decoration: none;
      text-shadow: 0px -1px black; }
      ul#main_menu li.button a#dashboard-link {
        background-image: url(/images/hibreed/fatcow-hosting-icons-1400/16x16/application_home.png); }
      ul#main_menu li.button a#content-link {
        background-image: url(/images/hibreed/fatcow-hosting-icons-1400/16x16/newspaper.png); }
